@inherits LayoutComponentBase
@inject NavigationManager UriHelper


    <div class="main">
        <div style="background-color: #363c40;" >
            <Header />
        </div>
        <div class="content px-4">
            @Body
        </div>
        <div>
            <Footer />
        </div>



    </div>

