<div>
    <div class="control-section">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <SfCard ID="Footer">


                    <CardContent>
                        <div class="pa">
                            <p>E-Posta : berfinokuducu@gmail.com</p>
                            <a href="https://github.com/berfinokuducu">GitHub : berfinokuducu</a>
                        </div>
                    </CardContent>
                    <CardHeader Title="Berfin Okuducu" SubTitle="Çanakkale Onsekiz Mart Universitesi" />
                </SfCard>
            </div>
        </div>
    </div>
</div>

<style>
    #Footer {
        width:310px;
        margin-left: 160%;
        height: 120px;
        background-color: #dfeaef;
    }

    .align {
        text-align: center;
    }

    .pa {
        color: black;
        text-align: center;
    }

    .row {
        width: 85%;
        margin-left: 1%;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-family: Helvetica-Bold;
        color: #d41a1a;
        font-weight: bold;
        font-size: 16px;
    }

    .e-card .e-card-header .e-card-header-image {
        height: 48px;
        width: 48px;
    }

    .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
        padding-top: 0px;
        font-family: sans-serif;
        color: #878787;
        font-size: 12px;
    }

    .e-card-header-image {
        height: 48px;
        width: 48px;
    }

    .e-card {
        /*margin: 5px;*/
    }

    .e-card-content {
        font-family: Helvetica, 'Segoe UI'
    }

    .col-lg-6,
    .col-md-6 {
        padding: 15px;
    }
</style>

@*<p class="pcolor">Berfin Okuducu</p>
    <p class="pcolor">E-posta : berfinokuducu@gmail.com</p>
    <a href="https://github.com/berfinokuducu">GitHub</a>*@
@code {

}
